@charset "UTF-8";
/*鏍峰紡閲嶇疆*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

img {
  display: block; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

body {
  color: #444;
  font: 12px/20px "SimSun","瀹嬩綋","Arial Narrow",HELVETICA;
  background: #fff;
  /* overflow-y:scroll;*/
  overflow-x: hidden; }

h3 {
  font-weight: 100;
  font-size: 12px; }

a {
  color: #444;
  text-decoration: none; }

i {
  font-style: normal; }

b {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative; }

/**澶撮儴**/
#header_wrap {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd; }
  #header_wrap #header {
    height: 28px;
    width: 1200px;
    margin: 0 auto;
    line-height: 28px; }
    #header_wrap #header .header_t1 {
      float: left; }
      #header_wrap #header .header_t1 div {
        float: left;
        padding: 0 5px; }
      #header_wrap #header .header_t1 .header_t12 i {
        display: inline-block;
        width: 11px;
        height: 15px;
        position: relative;
        background: url(../imgs/xqico.png) no-repeat -5px top;
        top: 5px; }
      #header_wrap #header .header_t1 .header_t13 b {
        background: url(../imgs/icon2.png) no-repeat -8px -430px;
        top: 3px; }
      #header_wrap #header .header_t1 .header_t13:hover {
        color: #ff6600; }
      #header_wrap #header .header_t1 .header_t14 span {
        color: #ff6600; }
    #header_wrap #header .header_t2 {
      float: right; }
      #header_wrap #header .header_t2 > li {
        float: right;
        padding: 0 5px; }
        #header_wrap #header .header_t2 > li:nth-of-type(1) a {
          color: red; }
        #header_wrap #header .header_t2 > li:nth-of-type(3) b {
          background: url(../imgs/icon2.png) no-repeat -332px -45px;
          top: 3px; }
        #header_wrap #header .header_t2 > li:nth-of-type(4) {
          position: relative; }
          #header_wrap #header .header_t2 > li:nth-of-type(4) i {
            display: inline-block;
            width: 7px;
            height: 4px;
            background: url(../imgs/icon1.png) no-repeat -41px -166px; }
          #header_wrap #header .header_t2 > li:nth-of-type(4) div {
            display: none;
            position: absolute;
            right: 0;
            width: 170px;
            height: 28px;
            padding: 15px;
            background: #fff;
            box-shadow: 1px 1px 2px #fff; }
            #header_wrap #header .header_t2 > li:nth-of-type(4) div a {
              display: block;
              margin: 0 2px;
              float: left;
              padding-right: 10px;
              background: url(../imgs/newbtn1.png) no-repeat right top; }
              #header_wrap #header .header_t2 > li:nth-of-type(4) div a:hover {
                background-position-y: -114px; }
                #header_wrap #header .header_t2 > li:nth-of-type(4) div a:hover span {
                  background-position-y: -114px;
                  color: #333; }
              #header_wrap #header .header_t2 > li:nth-of-type(4) div a span {
                display: block;
                padding-left: 10px;
                background: url(../imgs/newbtn1.png) no-repeat left top;
                line-height: 28px; }
        #header_wrap #header .header_t2 > li:nth-of-type(5) {
          position: relative; }
          #header_wrap #header .header_t2 > li:nth-of-type(5) i {
            display: inline-block;
            width: 7px;
            height: 4px;
            background: url(../imgs/icon1.png) no-repeat -41px -166px; }
          #header_wrap #header .header_t2 > li:nth-of-type(5) div {
            display: none; }
            #header_wrap #header .header_t2 > li:nth-of-type(5) div ul {
              width: 90px;
              position: absolute;
              list-style-type: square;
              list-style-position: inside;
              background: #fff;
              padding: 5px 10px;
              box-shadow: 1px 1px 2px #444; }
              #header_wrap #header .header_t2 > li:nth-of-type(5) div ul li:hover {
                color: #51a7d8;
                cursor: pointer; }
        #header_wrap #header .header_t2 > li:nth-of-type(5) b {
          background: url(../imgs/icon2.png) no-repeat -310px -45px;
          top: 3px; }
        #header_wrap #header .header_t2 > li:nth-of-type(6) b {
          background: url(../imgs/icon2.png) no-repeat -288px -45px;
          top: 3px; }
        #header_wrap #header .header_t2 > li:nth-of-type(6) a span {
          color: red; }
      #header_wrap #header .header_t2 a:hover {
        color: #51a7d8; }

/*banner骞垮憡*/
#banner {
  margin: 0 auto;
  width: 1200px; }

/*logo鍜宻earch閮ㄥ垎*/
#header_logo {
  margin: 0 auto;
  width: 1200px;
  height: 124px; }
  #header_logo > * {
    float: left; }
  #header_logo h1 {
    width: 300px; }
  #header_logo .search {
    width: 538px;
    padding-top: 37px; }
    #header_logo .search form {
      height: 34px; }
    #header_logo .search form input:first-child {
      padding: 0;
      display: block;
      float: left;
      width: 402px;
      height: 30px;
      border: 2px solid #459d36;
      text-indent: 16px; }
    #header_logo .search form input:last-child {
      display: block;
      float: left;
      width: 75px;
      height: 34px;
      border: 0;
      background: #459d36;
      color: #fff; }
    #header_logo .search .search_keyword {
      line-height: 38px;
      color: #999; }
      #header_logo .search .search_keyword span {
        color: #f00; }
  #header_logo .tele {
    width: 230px;
    height: 23px;
    background: url(../imgs/icon2.png) no-repeat left -520px;
    margin-top: 44px; }
  #header_logo .cart {
    width: 130px;
    height: 37px;
    background: url(../imgs/shopping-cart.gif) no-repeat left top;
    margin-top: 38px;
    line-height: 37px;
    text-indent: 50px; }
    #header_logo .cart span {
      color: #ff4400; }

/*nav*/
#nav {
  width: 1200px;
  margin: 0 auto;
  height: 34px;
  line-height: 34px; }
  #nav .nav_title {
    float: left; }
    #nav .nav_title span {
      display: block;
      float: left;
      color: #666;
      border: 1px solid #e1e1e1;
      width: 112px;
      text-align: center;
      font-size: 14px;
      line-height: 32px; }
      #nav .nav_title span:first-child {
        position: relative; }
        #nav .nav_title span:first-child:hover, #nav .nav_title span:first-child.hov {
          background: #0c50a3;
          border: 1px solid #0c50a3;
          color: #fff; }
          #nav .nav_title span:first-child:hover b, #nav .nav_title span:first-child.hov b {
            background-position-x: -1px; }
        #nav .nav_title span:first-child b {
          background: url(../imgs/icon1.png) no-repeat -17px -1257px;
          top: 3px;
          margin-left: 3px; }
        #nav .nav_title span:first-child div {
          position: absolute;
          width: 228px; }
          #nav .nav_title span:first-child div article {
            position: relative;
            height: 180px; }
            #nav .nav_title span:first-child div article a:first-child {
              display: block;
              margin: 25px auto 0;
              width: 63px;
              height: 63px;
              background: url(../imgs/new_bgpetcate.png) no-repeat left -190px;
              background-size: 63px; }
            #nav .nav_title span:first-child div article a:nth-of-type(2) {
              display: block;
              position: absolute;
              right: 30px;
              top: 0;
              width: 49px;
              height: 39px;
              background: url(../imgs/dog-clothype.jpg) no-repeat left top; }
            #nav .nav_title span:first-child div article p {
              color: #aeaeae;
              text-align: center; }
            #nav .nav_title span:first-child div article input {
              width: 134px;
              height: 30px;
              text-align: center;
              border: 1px solid #aeaeae;
              background: transparent;
              color: #aeaeae;
              border-radius: 3px; }
            #nav .nav_title span:first-child div article:last-child {
              position: relative;
              border-top: 1px dashed #ccc; }
              #nav .nav_title span:first-child div article:last-child a:first-child {
                background-position-y: -63px; }
              #nav .nav_title span:first-child div article:last-child a:nth-of-type(2) {
                top: 20px; }
              #nav .nav_title span:first-child div article:last-child input {
                border: 1px solid #e74085;
                color: #e74085; }
      #nav .nav_title span:last-child {
        position: relative; }
        #nav .nav_title span:last-child:hover, #nav .nav_title span:last-child.hov {
          background: #0c50a3;
          border: 1px solid #0c50a3;
          color: #fff; }
          #nav .nav_title span:last-child:hover b, #nav .nav_title span:last-child.hov b {
            background-position-x: -1px; }
        #nav .nav_title span:last-child b {
          background: url(../imgs/icon1.png) no-repeat -17px -1276px;
          height: 7px;
          margin-left: 3px; }
        #nav .nav_title span:last-child ul {
          font-size: 12px;
          position: absolute;
          right: 0;
          margin-top: 2px;
          background: #fff; }
          #nav .nav_title span:last-child ul li {
            width: 202px;
            padding: 0 13px;
            height: 50px;
            line-height: 50px; }
            #nav .nav_title span:last-child ul li h3 {
              border-bottom: 1px dashed #ddd; }
            #nav .nav_title span:last-child ul li strong {
              display: inline-block;
              width: 12px;
              height: 12px;
              background: url(../imgs/icon3.png) no-repeat -5px -1px; }
            #nav .nav_title span:last-child ul li a {
              padding: 0 3px; }
              #nav .nav_title span:last-child ul li a i {
                padding: 0 3px;
                color: #999; }
            #nav .nav_title span:last-child ul li p {
              display: inline-block;
              width: 8px;
              height: 6px;
              background: url(../imgs/icon1.png) no-repeat -27px -292px; }
            #nav .nav_title span:last-child ul li:last-child strong {
              background: none; }
            #nav .nav_title span:last-child ul li:last-child a {
              color: #22990d; }
              #nav .nav_title span:last-child ul li:last-child a i {
                display: inline-block;
                width: 34px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 7px;
                background: #fb6003;
                color: #fff;
                margin-left: 5px; }
  #nav > ul > li {
    float: left;
    font-weight: 900;
    font-size: 16px;
    color: #000;
    padding: 0 25px;
    position: relative; }
    #nav > ul > li a b {
      background: url(../imgs/icon1.png) no-repeat -36px -1280px;
      height: 17px;
      top: 3px; }
    #nav > ul > li:nth-of-type(2) a b {
      background: none;
      position: absolute;
      top: -10px;
      left: 90px; }

/*# sourceMappingURL=common.css.map */
